* {
  box-sizing: border-box;
}

html {
	background-color: #161515;
	color: #ececec;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  background-color: #161515;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;

}

nav {
 
   
    overflow: hidden;
    z-index: 9999;
    position: sticky;
    top : 0;
    margin: 0px;
    color: #ffffff;
    

   
}

nav section {
    display: flex;
    width: 100%;
    background-color: #161515;
    z-index: 9999;
    margin: 10px;

    
}

nav ul {
    background-color: #161515;
    display: flex;
    width: 100%;
   
    list-style: none;
    padding: 5px;
    z-index: 9999;
    margin: 0px;
   

}

nav li {
    display: inline;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px;
    transition: .4s ;
}
nav a {
  color: #ffffff;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  font-variant: small-caps;
  text-decoration: none;
  border-radius: 7px;
  padding: 1px;
  
 
}



nav li:hover{
    background-color: #313131;
    transition: .4s ;
   
}


.active {
    background: #22C1C3;
    background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: .4s ;


}


.active:hover {
    background-size: 400% 400%;
   
    background-position: 100% 0%;
    transition: .3s ;
}

.row {
  display: -webkit-flex;
  display: flex;
}


.column {
  background-color: rgb(31, 31, 32);
  color: #f6f1f1;
  padding: 10px;

  border-radius: 7px;
}


.column.side {

  background-color: rgb(23, 24, 24);
  color: #f6f1f1;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   border-radius: 7px;
}


.column.middle {
  background-color: rgb(29, 30, 30);
  color: #ffffff;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-radius: 7px;
}


footer {
  background-color: #161515;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.col{
  background-color: #161515;
   border-radius: 7px;
    padding: 2px;
    align-items: center;
  text-align: center;
}

.card{
  background-color: #161515;
   border-radius: 7px;
    padding: 2px;
    align-items: center;
  text-align: center;
}

.cardbg{
  background-color: #161515;
  border-radius: 7px;
  align-items: center;
  text-align: center;
}



.img_thumbnail{
  max-width: 300px;
  max-height: 300px;
   border-radius: 7px;
}

.img_thumbnail_big{
  max-width: 350px;
  max-height: 300px;
   border-radius: 7px;
}


.title{
  font-size: 25px;
  font-variant: small-caps;
  display: block;
  align-items: center;
 
}


.card-body{
  background-color: #111010;
  display: flexbox;
  
   border-radius: 7px;
   align-items: center;
   text-align: center;
}

.note{
  color: #161515;
 display:inline-block;
 align-items: center;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);

  border-radius: 7px;
  padding: 10px;
}


.card-info{
  background-color: #111010;
  display: flexbox;
  
   border-radius: 7px;
   align-items: center;
   text-align: center;
}


.infocard{
  background-color: #111010;
  display: flex;
  
   border-radius: 7px;
   align-items: center;
   text-align: center;
}

.member_icon{
  width: 100px;
  height: 100px;

  border-radius: 95px;
  display: block;
   padding: 20px;
}

.username{
  size: 20px;
  display: block;
}
.prix{
  color:  white;

 display:inline-block;
 align-items: center;
  text-align: center;
  font-size: 20px;

  border-radius: 7px;
  padding: 10px;
}


.texte_avis{
  size: 10px;
    display: block;
}

.infos{
  size: 8px;
  color: gray;
    display: block;
}




.card.avis{
  background-color: #161515;
   border-radius: 7px;
    padding: 2px;
    align-items: center;
  text-align: center;
}

.cardbg.avis{
  background-color: #161515;
  border-radius: 7px;
  align-items: center;
  text-align: center;
}





.title.avis{
  font-size: 25px;
  font-variant: small-caps;
  display: block;
  align-items: center;
 
}


.card-body.avis{
  background-color: #111010;
  display: flexbox;
  
   border-radius: 7px;
   align-items: center;
   text-align: center;
}

.note.avis{
  color: #161515;
 display:inline-block;
 align-items: center;
  text-align: center;
  font-size: 20px;
  background: white;
  width: 50px;
  height: 50px;
  size : 25px;
  border-radius: 50px;

   margin-left: 20px;
  margin-right: 20px;
}


.card-info.avis{
  background-color: #111010;
  display: flexbox;
  
   border-radius: 7px;
   align-items: center;
   text-align: center;
}


.infocard.avis{
  background-color: #111010;
  display: flex;
  max-height: 70px;
   border-radius: 7px;
   align-items: center;
   text-align: center;
}

.member_icon.avis{
  width: 60px;
  height: 60px;

  border-radius: 95px;
  display: block;
   padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.username.avis{
  size: 10px;
  display: block;
  padding: 0px;
}

.pagination-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.page-link {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

.page-link:hover {
    color: #45c6db;
}

.page-active {
    margin: 0 5px;
    color: #45c6db;
    font-size: 18px;
}